/*using palettes: #1E2022, #52616B, #C9D6DF, #F0F5F9, orange - #e95420*/
QWidget {
    background-color: "#343938";
}
/********************************* Main UI settings ***************************************/
#main {
    background-color: "#323335";
}
/********************************* Main UI settings ***************************************/

/********************************* Buttons UI QPushButton settings ***************************************/
QPushButton {
    color: "#F0F5F9";
    font-size: 16px;
}

#dlgBtn, QMessageBox QPushButton {
    font-size: 16px;
    color: "#F0F5F9";
    background-color: "#52616B";
    border-radius: 7px;
    min-height: 40px;
    min-width: 207px;
}

#dlgBtn:pressed, QMessageBox QPushButton:pressed {
    font-size: 16px;
    color: "#F0F5F9";
    background-color: "#52616B"
}

#dlgBtn:hover, QMessageBox QPushButton:hover {
    border: 2px solid "#e95420";
}

#dlgBtn:disabled {
    font-size: 16px;
    color: "#888";
    background-color: "#32414B"
}

QToolTip {
    color: #1E2022;
    background-color: #F0F5F9;
    font-size: 16px;
}
/********************************* Buttons UI settings ***************************************/

QLabel, QFrame, QGroupBox, QRadioButton, QHeaderView {
    color: #F0F5F9;
    font-size: 16px;
}

QLabel:disabled {
    color: #52616B;
}

QLabel#orange {
    color: #e95420;
    text-align: center;
    qproperty-alignment: AlignCenter;
}

QGroupB {
    color: green;
}

/********************************* TextEdit UI settings ***************************************/
QTextEdit, QLineEdit {
    background-color: "#F0F5F9";
    color: "#323335";
    font-size: 16px;
}

QTextEdit[enabled="false"], QLineEdit[enabled="false"] {
    background-color: "#b9c6cf";
}
/********************************* QListView UI settings ***************************************/
QListView {
    width: 50px;
    color: #F0F5F9;
    font-size: 16px;
}

QListView::item:selected {
    background-color: "#e95420"
}

/********************************* QCheckBox UI settings ***************************************/
QCheckBox::indicator {
    color: "red";
}

QCheckBox::indicator:checked {
    color: "red";
}

/********************************* QDateTimeEdit UI settings ***************************************/
QDateTimeEdit {
    color: #1E2022;
    border: 1px solid #424446;
    font-size: 16px;
    background-color: #F0F5F9;
    font-size: 16px;
    border-radius: 2px;
    height: 26px;
    width: 260px;
}

QDateTimeEdit:disabled {
    color: #52616B;
}

.date {
    color: #071;
}

SPAN {
    color: #071;
}

QDateTimeEdit::up-arrow, QDateTimeEdit::down-arrow {
    image: url(img/actdown.png);
    /*border: 1px solid #1E2022B;*/
}

QDateTimeEdit::up-arrow:disabled, QDateTimeEdit::down-arrow:disabled {
    image: url(img/down.png);
}
/********************************* Table UI settings ***************************************/
QTableView {
    background-color: "#f0f5f9";
    alternate-background-color: "#c9d6df";
    font-size: 14px;
}

QHeaderView {
    background-color: "#52616B";
    color: "#F0F5F9";
}

QTableView::item {
    /*border: 1px solid "#fd1321";*/
    color: #323335;
}

QHeaderView::section {
    font-size: 16px;
    background-color: #63717a;
    alternate-background-color: "#63717";
    font: regular;
}

QTableView::item:selected {
    color: #F0F5F9;
    background-color: #e95420;
}

QTableCornerButton::section {
    background-color: #52616b;
}

QTableView::item:hover {
    background-color: #BBBBBB;
}

QTableView::item:focus {

}
/********************************* Table UI settings ***************************************/

/********************************* TabWidget UI settings ***************************************/
QTabWidget {
    background-color: red;
    border: 0px;
}

QTabWidget::pane {
    background-color:red;
}

QTabBar:top {
    border: 1px solid white;
}

QTabBar:tab:top {
    min-width: 132px;
}

QTabBar::tab {
    background-color: #282a2c;
    font-size: 16px;
    color: #F0F5F9;
    height: 27px;
    border: 1px solid #424446;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 3px;
    margin-right: 5px;
}

QTabBar::tab:selected {
    background-color: #52616B;
    color: #F0F5F9;
}

QTabWidget QLabel {
    qproperty-alignment: AlignCenter;
}
/********************************* TabWidget UI settings ***************************************/

QSpinBox, QDoubleSpinBox {
    background-color: #F0F5F9;
    color: "#323335";
    font-size: 16px;
    border-radius: 2px;
    height: 26px;
}

QSpinBox::up-button, QSpinBox::down-button, QDoubleSpinBox::up-button, QDoubleSpinBox::down-button {
    width: 20px;
    height: 12px;
    background-color: #52616B;
}

QSpinBox::up-arrow, QDoubleSpinBox::up-arrow {
    image: url(img/actup.png) no-repeat top;
    width: 10px;
    height: 10px;
}

QSpinBox::down-arrow, QDoubleSpinBox::down-arrow {
    image: url(img/actdown.png) no-repeat bottom;
    width: 10px;
    height: 10px;
}

QSpinBox[enabled="false"], QDoubleSpinBox[enabled="false"] {
    background-color: "#b9c6cf";
}

QComboBox {
    background-color: #F0F5F9;
    color: #323335;
    font-size: 16px;
    /*padding: 0px 0px 0px 0px;*/
}

QComboBox::drop-down, QDateTimeEdit::drop-down {
    background-color: #52616B;
    subcontrol-origin: padding;
    subcontrol-position: center right;
    border: 0px;
    margin-right: -2px;
    /*using palettes: #1E2022, #52616B, #C9D6DF, #F0F5F9, orange - #e95420*/
}

QComboBox::down-arrow, QDateTimeEdit::down-arrow {
    image: url(img/actdown.png);
    width: 10px;
    height: 10px;
}

QComboBox:on {
    background-color: #F0F5F9;
}

QComboBox QAbstractItemView {
    selection-background-color: red;
    background-color: #F0F5F9;
    color: #323335;
}

QComboBox[enabled="false"] {
    background-color: #b9c6cf;
}

/********************************* QMenuBarUI settings ***************************************/
QMenuBar {
    color: #F0F5F9;
    background-color: #52616B;
    border: 1px solid #1E2022;
    font-size: 16px;
}

/*QMenuBar:selected {
    background-color: #e95420;
}*/

QMenu {
    background-color: #52616B;
    border: 1px solid #1E2022;
    font-size: 16px;
    color: #F0F5F9;
}

QMenu::item:selected, QMenuBar::item:selected, QMenuBar::item:hover {
    color: #F0F5F9;
    background-color: #e95420;
}
/********************************* QMenuBar UI settings ***************************************/

/********************************* QProgressBar UI settings ***************************************/
 QProgressBar {
     border: 1px solid #1b3557;
     background-color: #f1f7ee;
     border-radius: 5px;
     text-align: center;
     color: #1c3557;
     font-size: 24px;
 }

 QProgressBar::chunk {
     background-color: #467b9d;
     /*width: 20px;
     margin: 0.5px;*/
 }
/********************************* QProgressBar UI settings ***************************************/
/*using palettes: #1E2022, #52616B, #C9D6DF, #F0F5F9, orange - #e95420*/
 QScrollBar:vertical {
     border: 1px solid grey;
     background: #C9D6DF;
     width: 15px;
     margin: 12px 0 12px 0;
 }

 QScrollBar:horizontal {
     background: #C9D6DF;
     height: 15px;
     width: 15px;
     /*border: 1px solid red;*/
     subcontrol-origin: margin;
 }

QScrollBar::handle:vertical {
     background: #52616B;
     min-height: 20px;
 }

 QScrollBar::handle:horizontal {
     background: #52616B;
     min-width: 20px;
 }

 QScrollBar::add-line {
     border: 1px solid grey;
     background: #52616B;
     height: 10px;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line {
     border: 1px solid grey;
     background: #52616B;
     height: 10px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }
 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
     width: 5px;
     height: 5px;
     background: #C9D6DF;
 }

 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: none;
 }
/*using palettes: #1E2022, #52616B, #C9D6DF, #F0F5F9, orange - #e95420*/
QWidget {
    background-color: "#343938";
}
/********************************* Main UI settings ***************************************/
#main {
    background-color: "#323335";
}
/********************************* Main UI settings ***************************************/

/********************************* Buttons UI QPushButton settings ***************************************/
QPushButton {
    color: "#F0F5F9";
}

#printer QPushButton, #dlgBtn, QMessageBox QPushButton, QDialogButtonBox QPushButton {
    font-size: 16px;
    color: "#F0F5F9";
    background-color: "#52616B";
    border-radius: 7px;
    min-height: 40px;
    min-width: 207px;
}

#printer QPushButton:pressed, #dlgBtn:pressed, QMessageBox QPushButton:pressed, QDialogButtonBox QPushButton:pressed {
    font-size: 16px;
    color: "#F0F5F9";
    background-color: "#52616B"
}

#printer QToolButton {
    background-color: "#52616B";
}

#dlgBtn:hover, #printer QPushButton:hover, QMessageBox QPushButton:hover, QDialogButtonBox QPushButton:hover {
    border: 2px solid "#e95420";
}

#dlgBtn:disabled {
    font-size: 16px;
    color: "#888";
    background-color: "#32414B"
}

QToolTip {
    color: #1E2022;
    background-color: #F0F5F9;
    font-size: 16px;
}
/********************************* Buttons UI settings ***************************************/

QLabel {
    color: #F0F5F9;
    font-size: 16px;
}

QLabel:disabled {
    color: #52616B;
}

QLabel#orange {
    color: #e95420;
    text-align: center;
    qproperty-alignment: AlignCenter;
}

/********************************* TextEdit UI settings ***************************************/
QTextEdit, QLineEdit {
    background-color: "#F0F5F9";
    color: "#323335";
    font-size: 16px;
}

QTextEdit[enabled="false"], QLineEdit[enabled="false"] {
    background-color: "#b9c6cf";
}
/********************************* QListView UI settings ***************************************/
QListView {
    width: 50px;
    color: #F0F5F9;
    font-size: 16px;
}

QListView::item:selected {
    background-color: "#e95420"
}

/********************************* QCheckBox UI settings ***************************************/
QCheckBox::indicator {
    color: "red";
}

QCheckBox::indicator:checked {
    color: "red";
}

/********************************* QDateTimeEdit UI settings ***************************************/
QDateTimeEdit {
    color: #1E2022;
    border: 1px solid #424446;
    font-size: 16px;
    background-color: #F0F5F9;
    font-size: 16px;
    border-radius: 2px;
    height: 26px;
    width: 260px;
}

QDateTimeEdit:disabled {
    color: #52616B;
}

.date {
    color: #071;
}

SPAN {
    color: #071;
}

QDateTimeEdit::up-arrow, QDateTimeEdit::down-arrow {
    image: url(img/actdown.png);
    /*border: 1px solid #1E2022B;*/
}

QDateTimeEdit::up-arrow:disabled, QDateTimeEdit::down-arrow:disabled {
    image: url(img/down.png);
}
/********************************* Table UI settings ***************************************/
QTableView {
    background-color: "#f0f5f9";
    alternate-background-color: "#c9d6df";
    font-size: 14px;
}

QHeaderView {
    background-color: "#52616B";
    color: "#F0F5F9";
}

QHeaderView::down-arrow, QHeaderView::up-arrow {
    width: 10px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    font-size: 4px;
}

QHeaderView::down-arrow {
    image: url(img/actdown.png) no-repeat top;
}

QHeaderView::up-arrow {
    image: url(img/actup.png) no-repeat top;
}

QTableView::item {
    /*border: 1px solid "#fd1321";*/
    color: #323335;
}

QHeaderView::section {
    font-size: 16px;
    background-color: #63717a;
    alternate-background-color: "#63717";
    font: regular;
}

QTableView::item:selected {
    color: #F0F5F9;
    background-color: #e95420;
}

QTableCornerButton::section {
    background-color: #52616b;
}

QTableView::item:hover {
    background-color: #BBBBBB;
}

QTableView::item:focus {

}
/********************************* Table UI settings ***************************************/

/********************************* TabWidget UI settings ***************************************/
QTabWidget {
    background-color: red;
    border: 0px;
}

QTabWidget::pane {
    background-color:red;
}

QTabBar:top {
    border: 1px solid white;
}

QTabBar:tab:top {
    min-width: 132px;
}

QTabBar::tab {
    background-color: #282a2c;
    font-size: 16px;
    color: #F0F5F9;
    height: 27px;
    border: 1px solid #424446;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 3px;
    margin-right: 5px;
}

QTabBar::tab:selected {
    background-color: #52616B;
    color: #F0F5F9;
}

QTabWidget QLabel {
    qproperty-alignment: AlignCenter;
}
/********************************* TabWidget UI settings ***************************************/

QSpinBox, QDoubleSpinBox {
    background-color: #F0F5F9;
    color: "#323335";
    font-size: 16px;
    border-radius: 2px;
    height: 26px;
}

QSpinBox::up-button, QSpinBox::down-button, QDoubleSpinBox::up-button, QDoubleSpinBox::down-button {
    width: 20px;
    height: 12px;
    background-color: #52616B;
}

QSpinBox::up-arrow, QDoubleSpinBox::up-arrow {
    image: url(img/actup.png) no-repeat top;
    width: 10px;
    height: 10px;
}

QSpinBox::down-arrow, QDoubleSpinBox::down-arrow {
    image: url(img/actdown.png) no-repeat bottom;
    width: 10px;
    height: 10px;
}

QSpinBox[enabled="false"], QDoubleSpinBox[enabled="false"] {
    background-color: "#b9c6cf";
}

QComboBox {
    background-color: #F0F5F9;
    color: #323335;
    font-size: 16px;
    /*padding: 0px 0px 0px 0px;*/
}

QComboBox::drop-down, QDateTimeEdit::drop-down {
    background-color: #52616B;
    subcontrol-origin: padding;
    subcontrol-position: center right;
    border: 0px;
    margin-right: -2px;
    /*using palettes: #1E2022, #52616B, #C9D6DF, #F0F5F9, orange - #e95420*/
}

QComboBox::down-arrow, QDateTimeEdit::down-arrow {
    image: url(img/actdown.png);
    width: 10px;
    height: 10px;
}

QComboBox:on {
    background-color: #F0F5F9;
}

QComboBox QAbstractItemView {
    selection-background-color: red;
    background-color: #F0F5F9;
    color: #323335;
}

QComboBox[enabled="false"] {
    background-color: #b9c6cf;
}

/********************************* QMenuBarUI settings ***************************************/
QMenuBar {
    color: #F0F5F9;
    background-color: #52616B;
    border: 1px solid #1E2022;
    font-size: 16px;
}

/*QMenuBar:selected {
    background-color: #e95420;
}*/

QMenu {
    background-color: #52616B;
    border: 1px solid #1E2022;
    font-size: 16px;
    color: #F0F5F9;
}

QMenu::item:selected, QMenuBar::item:selected, QMenuBar::item:hover {
    color: #F0F5F9;
    background-color: #e95420;
}
/********************************* QMenuBar UI settings ***************************************/

/********************************* QProgressBar UI settings ***************************************/
 QProgressBar {
     border: 1px solid #1b3557;
     background-color: #f1f7ee;
     border-radius: 5px;
     text-align: center;
     color: #1c3557;
     font-size: 24px;
 }

 QProgressBar::chunk {
     background-color: #467b9d;
     /*width: 20px;
     margin: 0.5px;*/
 }
/********************************* QProgressBar UI settings ***************************************/
/*using palettes: #1E2022, #52616B, #C9D6DF, #F0F5F9, orange - #e95420*/
 QScrollBar:vertical {
     border: 1px solid grey;
     background: #C9D6DF;
     width: 15px;
     margin: 12px 0 12px 0;
 }

 QScrollBar:horizontal {
     background: #C9D6DF;
     height: 15px;
     width: 15px;
     /*border: 1px solid red;*/
     subcontrol-origin: margin;
 }

QScrollBar::handle:vertical {
     background: #52616B;
     min-height: 20px;
 }

 QScrollBar::handle:horizontal {
     background: #52616B;
     min-width: 20px;
 }

 QScrollBar::add-line {
     border: 1px solid grey;
     background: #52616B;
     height: 10px;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line {
     border: 1px solid grey;
     background: #52616B;
     height: 10px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }
 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
     width: 5px;
     height: 5px;
     background: #C9D6DF;
 }

 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: none;
 }
 /********************************* QProgressBar UI settings ***************************************/